@import "../../variables";

.riddle-component {
  height: fit-content;
  padding: 10px 20px;
  background-color: rgb(2, 33, 61);
  font-family: teachersB;
  color: #fff !important;
  text-decoration: none;

  font-family: teachersB;
  &:hover {
    background: rgb(8, 8, 24);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  h4 {
    color: $appcolor4 !important;
    font-family: teachersB;
  }
  .riddle-details {
    border-right: solid 3px $appcolor4;
    border-left: solid 3px $appcolor4;
    height: 200px;

    font-family: teachersB;
    span {
      font-size: 40px;
      color: $appcolor4;
    }
    .trans {
      transform: rotate(180deg);
      margin-top: -60px;
    }
  }
}
.riddle-footer {
  height: fit-content;
  background-color: #2b2b5c;
  color: #fff;
  margin-bottom: 0;
  padding: 1px 10px;
  margin-top: 20px;
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 13px;
  }
}
