@import "../../variables";

.blog-page {
  margin-top: 70px;
  // background: url("../../assets/images/blog-bg.jpg");
  // background-size: cover;
  h1 {
    color: $appcolor;
  }
}
.news-component {
  margin-top: 30px;

  h4 {
    margin: 20px;
  }
}
.read-more {
  background: $appcolor;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.news-container {
  padding-top: 10px;
  padding-bottom: 0px;
  background: $appcolor2;
  p {
    color: #fff;
  }
  h1 {
    color: rgb(15, 14, 14);
  }
}
.main-img2 {
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-link2 {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.news-body {
  background: #f6f6f6;
  padding: 30px;
  min-height: 340px;
  margin-bottom: 30px;
}
.share {
  li {
    color: grey;
    &:hover {
      color: red;
    }
  }
}
.blog-socials {
  top: 30%;
  position: fixed;
  left: -90%;
  right: 100%;
  width: 50px;
  list-style: none;
  font-size: 30px;
  right: 20px;
  color: $appcolor4;
  a {
    color: $appcolor4;
    text-decoration: none;
  }
}
.news-heading {
  h3,
  h1 {
    color: $appcolor;
  }
}
.riddle-corner {
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 40px;
  background: rgb(40, 41, 75);
  background: linear-gradient(
    90deg,
    rgba(40, 41, 75, 1) 2%,
    rgba(25, 90, 126, 1) 39%,
    rgba(30, 118, 123, 1) 90%
  );
}
