.form-div {
  margin-top: 200px;
  margin-bottom: 200px;
  border: solid 1px #e7e7e7;
  height: 500px;
  padding: 20px 10px;
  input {
    width: 100%;
    border: solid 1px #e7e7e7;
    padding: 10px 20px;
    margin-top: 20px;
  }
  button {
    width: 100%;
    margin-top: 30px;
  }
}
