@import "../../variables";

.form-div {
  margin-bottom: 200px;
  border: solid 1px #e7e7e7;
  height: 500px;
  padding: 20px 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  input {
    width: 100%;
    border: solid 1px #e7e7e7;
    padding: 10px 20px;
    border-radius: 10px;
    &:hover {
      background: rgb(237, 248, 237);
    }
  }
  h6 {
    margin-top: 20px;
  }
  a {
    color: #fff;
    background: $appcolor;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
  }
}
.sign-in {
  margin: 0;
  padding-top: 150px;
  background: url("../../assets/images/blog-bg.jpg");
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
